<!DOCTYPE html>
<html lang="en">

    <head>
        {% block head %}

            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge;" />

            <title>
                {% block title %} Default Title {% endblock %}
            </title>

            <link rel="stylesheet" href="{{ url_for('static', filename='foundation.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='motion-ui.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui-1.12.1/jquery-ui.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        {% endblock %}
    </head>

    <body>

        {% block nav %}
             {% include 'backend/_top_bar.html' %}
        {% endblock %}

        {% block content %}

            <div class="grid-x grid-padding-x" style="padding-top: 30px">
                <div class="cell">
                    <h4>Режим модератора</h4>
                    <br>

                    {% block nav_moderator %}
                        {% include 'backend/_nav_moderator.html' %}
                        <hr style="max-width: none;">
                    {% endblock %}

                    {% block moderator %}

                    {% endblock %}

                </div>
            </div>

        {% endblock %}

        {% block  script %}
            <!--<script src="{{ url_for('static', filename='update.min.js') }}"></script>-->
            <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
            <script src="{{ url_for('static', filename='jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
            <script src="{{ url_for('static', filename='foundation.min.js') }}"></script>
            <script src="{{ url_for('static', filename='motion-ui.min.js') }}"></script>

            <!--<script>-->
                <!--$(document).foundation();-->
            <!--</script>-->

            <script>
                // var _umb = {
                //     require: {
                //         chrome: 30,
                //         safari: 10,
                //         edge: 77,
                //         firefox: 70,
                //         ie: 10,
                //         opera: 63
                //     }
                // };
                // (function(u) {
                // var s = document.createElement('script'); s.async = true; s.src = u;
                // var b = document.getElementsByTagName('script')[0]; b.parentNode.insertBefore(s, b);
                // })('/static/update.min.js');
            </script>


        {% endblock %}

    </body>
</html>