{% extends 'moderator.html' %}
<!--{% set active_page = 'index' %}-->

{% block title %} Сменить пароль {% endblock %}

{% block content %}
    {{ super() }}
    {% block moderator %}

    {% endblock %}
    <form method="POST" action="">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="grid-container">
            <br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="callout success">
                        {% for message in messages %}
                            <p>{{ message | safe }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <br>
            <h5>Смена пароля для пользователя:</h5>
            <p>{{ user.full_name }}</p>
            <div class="grid-x" style="padding-top: 10px">
                <div class="medium-8 cell">
                    <label>Пароль пользователя: <span style="font-size: x-small">* - Обязательно для заполенения!</span>
                        {{ form.password(required=False) }}
                    </label>
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <p class="error-title" style="color: red">{{ error }}<p>
                        {% endfor %}
                    {% endif %}
                    <p class="help-text">Не больше 100 символов.</p>
                </div>
                <div class="medium-8 cell">
                    <label>Повтор пароля пользователя: <span style="font-size: x-small">* - Обязательно для заполенения!</span>
                        {{ form.password_replay(required=False) }}
                    </label>
                    {% if form.password_replay.errors %}
                        {% for error in form.password_replay.errors %}
                            <p class="error-title" style="color: red">{{ error }}<p>
                        {% endfor %}
                    {% endif %}
                    <p class="help-text">Не больше 100 символов.</p>
                </div>

                <div class="medium-8 cell">
                    <input type="submit" id="submit" class="button" value="Редактировать">
                </div>
            </div>
        </div>
    </form>

{% endblock %}