{% extends 'backend/base.html' %}
<!--{% set active_page = 'index' %}-->

{% block title %} Главная {% endblock %}


{% block moderator %}

    <div class="grid-container">
        <div class="grid-x" style="padding-top: 10px">
            <div class="medium-6 cell">
                <p>Регулярные задачи:</p>
                <hr>
                <p><a href="{{ url_for('backend.task_category') }}">1. Обновление категорий каталога. Время выполнения: ежедневно 01:00</a><p>
            </div>
        </div>
    </div>

{% endblock %}
