{% extends 'backend/base.html' %}
<!--{% set active_page = 'index' %}-->

{% block title %} Главная {% endblock %}


{% block moderator %}

    <div class="grid-container">
        <div class="grid-x" style="padding-top: 10px">

            <div class="medium-12 cell">
                <!--<form method="POST" action="">-->
                    <!--<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>-->
                    <!--{% with messages = get_flashed_messages() %}-->
                        <!--{% if messages %}-->
                            <!--<div class="callout success">-->
                                <!--{% for message in messages %}-->
                                    <!--<p>{{ message | safe }}</p>-->
                                <!--{% endfor %}-->
                            <!--</div>-->
                        <!--{% endif %}-->
                    <!--{% endwith %}-->
                    <!--<div class="menu align-right">-->
                        <!--<input type="submit" id="submit" class="button" value="Запусить задачу">-->
                    <!--</div>-->
                <!--</form>-->
            </div>

            <div class="medium-6 cell">
                <p>Регулярные задачи:</p>
                <hr>
                <p><a href="{{ url_for('backend.task_category') }}">1. Обновление категорий каталога. Время выполнения: ежедневно 01:00 (мск)</a><p>
                <p><a href="{{ url_for('backend.task_position') }}">1. Обновление позиций каталога. Время выполнения: ежедневно 02:00 (мск)</a><p>
            </div>
        </div>
    </div>

{% endblock %}
