{% extends 'backend/base.html' %}
<!--{% set active_page = 'index' %}-->

{% block title %} Задачи для Категорий {% endblock %}

{% block moderator %}

    <div class="grid-container">
        <div class="grid-x" style="padding-top: 10px">
            <div class="medium-12 cell">
                <span id="task_name" style="display: none">updating_structure_of_catalog</span>
                <p>Текущие задачи:</p>
                <p id="task_none">В данный момент задача для каталога не выполняется.</p>
                <div id="task_hand" style="display: none;">
                    <p>Задача для каталога выполняется:</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block  script %}
    {{ super() }}

    <script type="text/javascript">
        $(document).ready(function() {

            var task_name = $("#task_name").text();

            setInterval(function(){
                $.ajax({
                    type: "GET",
                    url: "{{ url_for('hands.hand_main') }}",
                    data: {"task_name": task_name},
                }).done(function(response) {

                    if (response.status === "success" && response.data.length > 0) {
                        $("#task_none").hide();

                        var div_task_hand = $("#task_hand");

                        // add task element
                        $.each(response.data, function(index, value){
                            if ($("#" + value + "").length === 0) {
                                var img = "<span class=\"align-center\" style=\"display: block; margin: 15px 0;\"><img src=\"{{ url_for('static', filename='preloader.gif') }}\" alt=\"\"></span>";
                                var p = "<p style=\"background-color: #eaeaea; border-radius: 5px; display: inline-block; padding: 10px;\">task_id: <span>" + value + "</span></p>";
                                div_task_hand.append("<div id="+ value +" class=\"task\">" + p + img + "<hr></div>")
                            }
                        });
                        div_task_hand.show();

                        // remove task element if not in response.data
                        $.each($(".task"), function(index, value){
                            if(response.data.indexOf(value.id) === -1) {
                                value.remove()
                            }
                        });

                    }
                    else {$("#task_hand").hide(); $("#task_none").show()}
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    console.error("fail!");
                });
            }, 1000);
        });
    </script>

{% endblock %}

